.balance {
    margin-top: 5rem;
    background-color: #fa966f6e;
    padding: 1rem;
    width: 8rem;
    border-radius: 15px;
    font-family: 'Overpass', sans-serif;
    color: #ffffff;
    text-align: center;

}